:root{
    --background-color: #000000;
    --animate-duration: 800ms;
    --text-color: #fff;
    --border-color: #fff;
    --border-color-frame1: #FEA65B;
    --border-color-frame2:#D24D9C;
}
/* MAIN STYLES */
body{
    margin: 0;
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--text-color);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    z-index: 2;
}

@font-face {
    font-family: 'Rimma_sans'; /* Название шрифта */
    src: url('fonts/RIMMA_SANS-BOLD.TTF') format('truetype');
    font-weight: normal; /* Укажите вес шрифта */
    font-style: normal; /* Укажите стиль шрифта */
}

.big__words{
    font-family: Rimma_sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    line-height: 1.2;
}
.not__so__big__words{
    font-family: Rimma_sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 76.8px;
    
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    line-height: 0.8;
}
@media (min-width: 1000px) {
    .big__words{
        font-size: 64px;
    }
    .not__so__big__words{
        font-size: 32px;
    }
}
@media (min-width:768px) {
    .big__words{
        font-size: 48px;
    }
    .not__so__big__words{
        font-size: 20px;
    }
}
@media(max-width:370px){
    .big__words{
        font-size: 16px;
    }
    .not__so__big__words{
        font-size: 14px;
    }
}
.img__right__lines{
    position: absolute;
    margin-top: 0;
    margin-left: 60%;
    width: 40%;

}
.img__left__lines{
    position: absolute;
    margin-top: 30%;
    margin-left: -90%;
    width: 10%;
    z-index: -1;
}
/* ANIMATION LOGO */
.box {
    width: 80%;
    height: auto;
    margin: 10px;
}

.main__main{
    width:100%;
    min-height: 10rem;
    position: relative;
    overflow: hidden;
}

/* HEADER */
.header__title{
    margin-top: 0;
}
.header__composition{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative; /* Для позиционирования псевдоэлемента */
    width: auto;
    text-align: center;
    min-width: 70%;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 40px;
}   
.header__name{
    line-height: 1.2;

}
.nav ul {
    list-style-type: none; /* Убирает маркеры перед элементами списка */
    padding: 0; /* Убирает отступы по умолчанию */
    margin: 0; /* Убирает внешние отступы */
}
@media (max-width: 768px) {

    .nav{
        display: flex;
        justify-content: end;
        align-items: end;
    }
    .nav::after{
        content: '';
        position: absolute;
        right: 0;
        top: 100%;
        bottom: 0;
        border-bottom: 2px solid #fff; /* Прерывистая граница */
        width: 80%;
        margin-left: 5px;
        margin-right: 5px;
        box-sizing: border-box;
    }
    .header__composition::before{
        content: '';
        position: absolute;
        right: 20%;
        top: 0;
        bottom: 0;
        border-top: 2px solid #fff; /* Прерывистая граница */
        width: 80%;
        margin-left: 5px;
        margin-right: 5px;
        box-sizing: border-box;
    }
    .mobile__lines{
        display: flex;
        width: 100%;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    .img__right__lines{
        display: none;
    }
    .img__left__lines{
        display: none;
    }
    .reverse{
        transform: rotate(180deg);

    }
}
@media (min-width: 768px) {
    .header{
        align-items: end;
    }
    .header__composition::before{
        content: '';
        position: absolute;
        right: 0;
        top: 40%;
        bottom: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        box-sizing: border-box;
        border-left: 2px solid #fff; /* Прерывистая граница */
        height: 60%; /* Высота границы (прерывается на середине) */
    }
    .header__composition::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        box-sizing: border-box;
        border-left: 2px solid #fff; /* Прерывистая граница */
        height: 60%; /* Высота границы (прерывается на середине) */
    
    }
    .mobile__lines{
        display: none;
    }
}

.header__name{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%; /* Устанавливаем ширину в 100% */
    max-width: 80%; /* Ограничиваем ширину */
    box-sizing: border-box; /* Учитываем отступы и границы */
    padding: 0; /* Убираем отступы, если они есть */
    margin-top: 10%; /* Убираем внешние отступы */
}
@media (max-width:768px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    
}
.header__desc .header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Устанавливаем ширину в 100% */
    max-width: 100%; /* Ограничиваем ширину */
    box-sizing: border-box; /* Учитываем отступы и границы */
    align-items: end; /* Центрируем элементы по вертикали */
    padding: 0; /* Убираем отступы, если они есть */
    margin: 0; /* Убираем внешние отступы */
    margin-top: 0;
}

/* NAV */
/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    max-width: 100%; /* Ограничиваем ширину */
    box-sizing: border-box; /* Учитываем отступы и границы */
    width: 100%; /* Устанавливаем ширину в 100% */
    border-top: 2px solid var(--border-color-frame2);
    position: relative;
    overflow: hidden; /* Скрывает содержимое, выходящее за рамки */

}
.contacts{
    max-width: 100%;
    margin-left: 2%;
    box-sizing: border-box;
}
.contacts__desc{
    display: flex;
    max-width: 100%;
    margin-left: 2%;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .contacts__desc{
        flex-direction: column;
    }
}
@media (min-width: 768px){
    .contacts__desc{
        justify-content: start;
        flex-direction: row;
    }
}
.contacts__info{
    margin-right: 10px;

}
.footer__logo{
    position: absolute;
    bottom: -50%;
    right: 0;
    z-index: -1;
    height: 200%;
    width: auto;
    opacity: 40%;

}
@media(max-width:768px){
    .footer__logo{
        top: -20%;
        right: -30%;
        height: 120%;
        opacity: 40%;
    }
}
.footer__data{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFFFFFCC;
}
/* TEAM */
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__icon {
    flex: 1; /* Задает одинаковую ширину для всех колонок */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Добавьте отступы ме    жду колонками, если нужно */
}
.about{
    position: relative;

}

@media (min-width: 768px){
    .icon__text__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__icon__name{
        margin: 5px;
    }
    .about{
        display: flex;
        justify-content: center;
        max-width: 70%;
    }
    .about__icon__img {
        width: 100%;
        border: 2px solid var(--border-color-frame1); /* Устанавливаем границу в 2 пикселя */
        padding: 10px; /* Добавляем внутренний отступ в 2 пикселя */
        border-radius: 20px;
        box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    }
    
    .icon__bottom{
        margin-top: 30%;
        display: flex;
    }
    .about__icon{
        max-width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    .left__eye{
        display: none;
    }
    .right__eye{
        display: none;
    }
}

@media (max-width: 768px) {
    .team{
        display: flex;
        flex-direction: column;
    }
    .about{
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }
    .about__icon__img {
        width: 60%;
        border: 2px solid var(--border-color-frame1); /* Устанавливаем границу в 2 пикселя */
        padding: 10px; /* Добавляем внутренний отступ в 2 пикселя */
        border-radius: 20px;
        box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    }
    .about__icon{
        display: flex;
        align-items: start;
        flex-direction: row;
        margin-top: 20px;
        box-sizing: border-box; /* Учитываем отступы и границы в ширине */

    }
    .icon__text__info{
        display: flex;
        flex-direction: column;
 
    }
    .icon__bottom{
        display: flex;
        flex-direction: row-reverse;
    }
    .reverse__icon__text{
        text-align: end;
    }
    .right__eye{
        position: absolute;
        right: -20%;
        top: 15%;
        width: 60%;
        z-index: -1;
        opacity: 40%;
    }
    .left__eye{
        position: absolute;
        top: 45%;
        left: -20%;
        width: 60%;
        z-index: -1;
        opacity: 40%;

    }
}
.icon__change__border__color{
    border: 2px solid var(--border-color-frame2); /* Устанавливаем границу в 2 пикселя */

}
/* PROJECTS */
.projects {
    
    display: flex;
    justify-content: center;
    flex-direction: column; /* Убедитесь, что элементы располагаются вертикально */
    height: 100%; /* Убедитесь, что контейнер занимает всю высоту */
    max-width: 100%;
    margin-bottom: 10%;
    box-sizing: border-box;
}

.projects__desc {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Измените на stretch */
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    box-sizing: border-box;
}
@media (max-width:768px) {
    .projects__desc{
        flex-direction: column;
    }
}

.projects__title{
    display: flex;
    justify-content: end;
    box-sizing: border-box;
}
.projects__img {
    position: relative; /* Устанавливаем позиционирование для родителя */
}

.projects__img__img {
    width: 100%;
    border-radius: 10px; /* Округляем границы */
    overflow: hidden; /* Скрываем содержимое, выходящее за границы */
    position: relative; /* Устанавливаем позиционирование для родителя */
    z-index: 1; /* Устанавливаем z-index, чтобы элемент был выше псевдоэлемента */
}


.projects__desc {
    display: flex; /* Используем flexbox для расположения элементов */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: stretch; /* Убедитесь, что элементы занимают одинаковую высоту */
    width: 70vw; /* Фиксированная ширина 80% от ширины экрана */
    margin: 0 auto; /* Центрируем контейнер */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}



.projects__name {

    margin-right: 10%;
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
    justify-content: space-between; /* Распределяем пространство между элементами */
}

.figma__a{
    padding: 10px;
    border: 2px solid var(--border-color-frame2);
    border-radius: 10px;
    color: var(--text-color);
}

.projects__img__img{
    border: 2px solid var(--border-color-frame2);
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;

}
.project1.active {
    background: linear-gradient(90deg, #FFA65B 0%, #D24D9C 100%);
    -webkit-background-clip: text; /* Обрезаем фон по форме текста */
    -webkit-text-fill-color: transparent; /* Делает цвет текста прозрачным, чтобы виден был фон */
}
.project2.active {
    background: linear-gradient(90.02deg, #E5C45A 0.02%, #72440A 93.67%);
    -webkit-background-clip: text; /* Обрезаем фон по форме текста */
    -webkit-text-fill-color: transparent; /* Делает цвет текста прозрачным, чтобы виден был фон */
}
.project3.active {
    background: linear-gradient(89.83deg, #2F6A9A 0.14%, #B1DEDA 65.43%);
    -webkit-background-clip: text; /* Обрезаем фон по форме текста */
    -webkit-text-fill-color: transparent; /* Делает цвет текста прозрачным, чтобы виден был фон */
}
.projects__name__name {
    white-space: normal; /* Позволяет тексту переноситься на новую строку */
    overflow: visible; /* Убедитесь, что текст не обрезается */
    text-overflow: clip; /* Отключает обрезку текста с многоточием */
}
.mobile{
    display: none;
}
.desktop{
    display: flex;
}
@media (max-width: 768px) {
    .mobile{
        display: flex;
    }
    .desktop{
        display: none;
    }
    .projects__name__name{
        margin-top: 10%;
        margin-bottom: 10%;
        box-sizing: border-box;
    }
}
@media (max-width: 768px) {

    .projects__name__name{
        font-size: 32px;
    }
}
@media (max-width:400px){
    .projects__name__name{
        font-size: 20px;
    }
}
a {
    text-decoration: none; /* Убираем нижнее подчеркивание */
    color: var(--text-color);
}
